@use '../../assets/styles/helpers/' as *;

.loaderBlock {
  min-height: calc(100vh - 75px);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    min-height: calc(100vh - 68px);
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #6ebeff;
  border-bottom-color: #337AB7;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}