@use '../../../assets/styles/helpers/' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: rem(19.5);

    @include tablet {
        padding-block: rem(23);
    }

    @include mobile {
        padding-block: rem(17);
    }


    &__logo {
        display: flex;
        align-items: flex-end;
        column-gap: rem(9);

        z-index: 999;
    }

    &__logoImg {
        max-width: fluid(40, 27);
    }

    &__title {
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.01em;
        color: var(--color-blue);

        @include fluid-text (20, 14)
    }

    &__overlay {
        @include mobile-above {
            display: contents;
        }

        @include mobile {
            position: fixed;
            inset: 0;
            row-gap: 3rem;
            transition-duration: var(--transition-duration);

            &:not(.is-active) {
                @include hide;

                translate: 100%;
            }

        }

        &-bg {
            height: 100%;
            background: rgba(0, 0, 0, 0.5);

            @include mobile-above {
                display: none;
            }
        }
    }

    &__menu {
        @include mobile {
            background: rgba(0, 0, 0, 0.5);
        }
    }

    &__menuList {
        display: flex;
        align-items: center;
        column-gap: rem(48);
        background: var(--color-light);

        @include mobile {
            display: flex;
            flex-direction: column;
            padding: rem(62) rem(16) rem(24);
            border-radius: 0 0 16px 16px;
        }

    }

    &__menuItem {
        @include mobile {
            width: 100%;
            text-align: center;
            padding: rem(20) 0;
            border-top: 1px solid #f4f4f4;
            border-bottom: 1px solid #f4f4f4;
        }
    }

    &__menuLink {
        font-weight: 500;
        font-size: rem(16);
        line-height: 150%;
        letter-spacing: 0.03em;
        color: var(--color-blue-10);

        @include mobile {
            font-weight: 500;
            font-size: rem(18);
            line-height: 122%;
            text-align: center;
            color: #343844;
        }
    }
}