version: '3.10'


networks:
  default: {}


x-shared-environment: &shared-environment {}

x-base-image: &base-image
  restart: unless-stopped
  environment:
    <<: *shared-environment
  networks:
    default: {}
  logging:
    options:
      max-size: "10m"
      max-file: "3"


services:
  web: &web
    <<: *base-image
    hostname: web
    container_name: web
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: app
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3000 || exit 1
      interval: 5s
      timeout: 3s
      retries: 3
    ports:
      - 3000:3000

  dev:
    <<: *base-image
    hostname: dev
    container_name: dev
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: dev
    profiles:
      - development
    tty: true
    stdin_open: true
    command: /bin/sh
    volumes:
      - ./src:/app/src
      - ./public:/app/public
    ports:
      - 3000:3000
