@use '../../assets/styles/helpers/' as *;

.cardContainer {
  display: flex;
  align-items: center;
  gap: rem(20);
  width: rem(644);
  height: rem(224);
  padding: rem(20);
  border-radius: rem(16);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 1);
  box-shadow:
    0 8px 8px -4px rgba(24, 39, 75, 0.08),
    0 4px 6px -4px rgba(24, 39, 75, 0.12);

  text-decoration: none;

  @include hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }

  @include tablet {
    border-radius: rem(16);
    min-width: rem(720);
    width: 100%;
  }

  @include mobile {
    border-radius: rem(12);
    flex-direction: column;
    min-width: rem(0);
    width: rem(320);
    height: rem(415);

    box-shadow:
      0 8px 24px -4px rgba(24, 39, 75, 0.08),
      0 6px 12px -6px rgba(24, 39, 75, 0.12);
  }
}

.cardImage {
  border-radius: rem(16);
  width: rem(184);
  height: rem(184);
  min-width: rem(184);
  min-height: rem(184);

  @include mobile {
    width: rem(270);
    height: rem(200);
    min-height: rem(200);
  }
}

.cardContent {
  padding-top: rem(12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  @include mobile {
    // gap: rem(34);
  }
}

.title {
  font-size: rem(18);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: rem(0.5);
  color: #000000;
}

.description {
  color: #000000;
  opacity: 70%;
  font-size: rem(14);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: rem(0.5);
  max-width: rem(476);
}

.descriptionBody {
  color: #000000;
  opacity: 70%;
  font-size: rem(14);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: rem(0.5);
  max-width: rem(476);

  @include line-clamp(2);

  p {
    --paragraphMarginBottom: 8px;
  }
}

.topContent {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  width: 100%;
}

.bottomContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include mobile {
    justify-content: flex-end;
  }
}

.similar {
  color: #7E7E7E;
  opacity: rem(0.7);
  font-size: rem(14);
  font-weight: rem(400);
  line-height: rem(20);
  letter-spacing: 0;

  @include mobile {
    display: none;
  }
}

.moreBtn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  gap: rem(4);
  cursor: pointer;
  color: #0094EB;

  @include hover {
    text-decoration: underline;
  }

  &:active {
    transform: translateY(1px);
  }
}