@use '../../../../assets/styles/helpers/' as *;

.blogBackLink {
    display: flex;
    align-items: center;
    gap: rem(6);
    margin-top: rem(32);
    font-weight: 500;
    font-size: rem(18);
    line-height: 133%;
    letter-spacing: 0em;
    color: #022c22;

    @include tablet {
        display: none;
    }
}

.blogBreadcrumbs {
    display: none;
    @include tablet {
        display: block;
    }
}

.blogPost {
    margin: rem(40) 0 rem(100);
    padding: rem(24);
    max-width: rem(978);
    border: 1px solid var(--color-wrapper-border);
    border-radius: rem(16);
    background-color: var(--color-light);

    &__title {
        font-weight: 600;
        font-size: 40px;
        letter-spacing: -0.03em;
        color: #1d1f1e;
    }

    &__date {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0em;
        color: #1d1f1e;
        margin: rem(20) 0 rem(32);
    }

    &__autorsList {
        display: flex;
        align-items: center;
        margin-bottom: rem(32);
        // padding: rem(24) 0;
        // border-top: 1px solid #d1d1d1;
        // border-bottom: 1px solid #d1d1d1;
    }
        
    &__author {
        display: flex;
        align-items: center;
        gap: rem(16);
    }

    &__authorImage {
        border-radius: 50%;
    }

    &__authorImagePlaceholder {
        width: rem(56);
        height: rem(56);
        border-radius: 50%;
        background-color: #d3e4ff;;
    }

    &__authorInfo {
        display: flex;
        flex-direction: column;
        gap: rem(4);
    }

    &__authorName {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0em;
        color: #1d1f1e;
    }

    &__authorRole {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0em;
        color: #646a69;
    }

    &__image {
        height: rem(532);
        object-fit: cover;
        border-radius: rem(24);
    }

    &__content {
        margin-top: rem(64);
    }

    &__sourcesTitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 142%;
        color: #1c1f25;
    }

    &__sourceLink {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #4b5162;
    }

    &__sourceList {
        margin-top: rem(12);
        display: flex;
        flex-direction: column;
        gap: rem(16);
    }

    @include tablet {
        margin-top: rem(16);
    }

    @include mobile {
        margin-top: rem(4);
    }
}