@use '../../assets/styles/helpers/' as *;

.burgerBtn {
    @include square(rem(24));
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(6.75) rem(3.75);
    color: #0f172a;
    border: none;
    background-color: transparent;

    z-index: 999;

    @include hover {
        color: var(--color-accent);
    }

    @include mobile-above {
        display: none;
    }

    &.is-active {
        .burgerBtn__line {
            &:first-child {
                rotate: 45deg;
                transform-origin: 0;
                translate: 2px -2px;
            }

            &:nth-child(2) {
                rotate: -45deg;
            }

            &:last-child {
                width: 0;
            }
        }
    }

    &__line {
        width: 100%;
        height: rem(2);
        background-color: currentColor;
        border-radius: 1rem;
        transition-duration: var(--transition-duration);

        &:last-child {
            width: 55%;
        }
    }
}