@use '../../assets/styles/helpers/' as *;

.blogBreadcrumbs {
    display: block;
    position: absolute;
    top: 0;
    left: 64px;

    @include tablet {
        left: 24px;
    }

    @include mobile {
        left: 16px;
    }
}

.hero {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5.4375rem 0;
    background: url('../../assets/images/blog-bg.jpg') center/cover no-repeat;

    @include mobile {
        padding-left: 28px;
        padding-right: 28px;
    }

    &__heading {
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 106%;
        letter-spacing: -0.01em;
        color: #1e293b;

        @include mobile {
            font-size: rem(24);
        }
    }

    &__desc {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 160%;
        color: #364253;
        text-align: center;
        max-width: 710px;
        margin-top: 20px;

        @include mobile {
            font-size: rem(14);
        }
    }


    &__author {
        display: flex;
        align-items: center;
        gap: 4px;
        justify-content: center;
        flex-direction: column;
    }

    &__authorAvatar {
        width: rem(64);
        height: rem(64);
        border-radius: 100%;

        &__image {
            border-radius: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__authorInfo {
        margin-top: rem(12);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

    &__authorName {
        color: #1D1F1E;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.4%;

    }

    &__authorType {
        color: #646A69;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.4%;

    }
}