/* components/ToponymAlphaList/ToponymAlphaList.module.scss */
@use '../../assets/styles/helpers/' as *;

.wrap {
  display: flex;
  flex-direction: column;
  gap: rem(32);
}

.section {
  display: flex;
  gap: rem(24);
  align-items: flex-start;
  flex-direction: column;
}

.titleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  gap: rem(6);

}

.letter {
  min-width: rem(24);
  font-weight: 600;
  font-size: rem(20);
  line-height: 1.1;
  color: #1c1f25;
  margin-top: rem(6);
  padding: rem(8) rem(12);
}

.seeMap {
  color: #0094EB;
  font-weight: 500;
  line-height: rem(20);
  letter-spacing: 0.6%;
}

.columns {
  column-count: 3;
  column-gap: rem(44);
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  @include tablet {
    column-count: 2;
  }

  @include mobile {
    column-count: 1;
  }
}

.rowBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: rem(8);
  justify-content: space-between;
  align-items: center;
  padding: rem(8) rem(12);
  border-radius: rem(10);
  text-decoration: none;
  color: #0f172a;

  &:hover {
    background: #f8fafc;
    text-decoration: underline;
    color: #0f172a;
  }
}

.link {
  color: #0f172a;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: rem(14);
}

.meta {
  color: #64748b;
  font-size: rem(14);
  white-space: nowrap;
}

.chev {
  width: rem(10);
  height: rem(10);
  transform: rotate(-90deg);
}