@use '../../../../../assets/styles/helpers/' as *; 


.toponymHeading {
    position: relative;
    font-weight: 600;
    font-size: rem(24);
    line-height: 100%;
    color: var(--color-dark);
    padding: rem(8) 0 rem(8) rem(12) ;
    text-transform: capitalize;

    &::before {
        @include abs-y;
        position: absolute;
        left: 0;
        content: '';
        width: rem(4);
        height: rem(28);
        background-color: var(--color-accent);
        border-radius: rem(2);
    }

    @include mobile {
        font-size: rem(18);
        line-height: 133%;
    }
}

.toponymSubheading {
    font-weight: 500;
    font-size: rem(20);
    line-height: 120%;
    color: var( --color-dark-gray-10);
    text-transform: none;


    &::before {
        background-color: var(--color-success);
    }

    @include mobile {
        font-size: rem(16);
        line-height: 133%;
    }
}