@use '../../../assets/styles/helpers/' as *;

.toponymBreadcrumb {
    @include tablet {
        display: none;
    }
}

.toponymWrapper {
    display: flex;
    gap: rem(24);
    padding: rem(24) 0 rem(132);

    @include tablet {
        flex-direction: column;
        padding-bottom: rem(100);
    }

    @include mobile {
        gap: rem(16);
        padding: rem(59) 0 rem(64);
    }

}

.toponymArticle {
    width: 100%;
    padding: rem(24);
    border-radius: 16px;
    border: 1px solid var(--color-wrapper-border);
    background-color: var(--color-light);

    &__section {
        background-color: var(--color-light);

        &:not(:first-of-type) {
            border-top: 1px solid var(--color-text-border);
        }
    }

    @include tablet {
        padding: rem(16);
    }

    @include mobile {
        padding: rem(12);
    }

    &__audio {
        margin-top: rem(16);
        max-width: rem(572);
        width: 100%;
    }
}

.toponymMap {
    border-radius: rem(16);
    height: rem(363);
}

.toponymAside {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    max-width: rem(310);
    width: 100%;

    @include tablet {
        max-width: 100%;
    }

    &__section {
        width: 100%;
        border-radius: 16px;
        border: 1px solid var(--color-wrapper-border);
        padding: rem(24);
        background-color: var(--color-light);

        @include tablet {
            padding: rem(16);
        }

        @include mobile {
            padding: rem(12);
        }
    }
}

.toponymDesc {
    font-weight: 500;
    font-size: rem(16);
    line-height: 150%;
    color: var(--color-dark);
    margin-top: rem(16);
}

.toponymTerms {
    position: absolute;
    top: rem(24);
    right: 0;
    display: flex;
    align-items: center;
    gap: rem(12);

    @include tablet {
        position: static;
        margin-top: rem(16);
    }

    @include mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: rem(8);

        & li:not(:first-child) {
            margin-top: rem(12);
        }
    }
}

.toponymTerm {
    font-weight: 500;
    font-size: rem(16);
    color: var(--color-dark);
    border-radius: 100px;
    padding: rem(8) rem(32);
    background-color: var(--color-blue-20);
}

.toponym__label {
    display: inline-block;
    font-weight: 500;
    font-size: rem(16);
    color: var(--color-dark);
    background-color: var(--color-gray-90);
    border-radius: rem(8);
    padding: rem(8) rem(16);
    margin-right: rem(16);
}

.toponymOfficialNaming {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    margin-top: rem(16);

    &__wrapper {
        margin-bottom: 0;
    }

    &__value {
        font-weight: 700;
        font-size: rem(16);
        color: var(--color-dark);
    }
}

.toponymPlastList {
    margin-top: rem(16);
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(16);
}

.toponymEtymology {
    &__heading {
        display: inline-block;
        font-weight: 500;
        font-size: rem(16);
        border-radius: 100px;
        padding: rem(8) rem(32);
        background: var(--color-blue-20);
        color: var(--color-dark);
        opacity: 0.78;
        margin-top: rem(16);

        @include mobile {
            width: 100%;
            text-align: center;
        }
    }

    &__desc {
        font-weight: 400;
        font-size: rem(18);
        line-height: 160%;
        color: var(--color-dark-20);
        margin-top: rem(16);
    }

    &__dictionaries {
        margin-top: rem(16);
        display: flex;
        flex-direction: column;
        gap: rem(16);
    }

    &__dictionary {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        color: #000;
        opacity: 0.78;

        @include tablet {
            // flex-direction: column;
            // align-items: flex-start;
            // gap: rem(8);
        }

        @include mobile {
            flex-direction: column;
            align-items: flex-start;
            gap: rem(8);
            padding-bottom: rem(8);
            border-bottom: 1px solid var(--color-text-border);
        }
    }

    &__transcription {
        font-weight: 700;
        margin-right: rem(16);
        opacity: 1;

        @include mobile {
            padding-left: rem(16);
        }
    }

    &__translations {
        display: flex;
        align-items: center;
        gap: rem(16);
        margin-right: rem(16);

        @include mobile {
            flex-direction: column;
            align-items: flex-start;
            gap: rem(8);
            padding-left: rem(16);
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: rem(10);
        font-weight: 500;
        font-size: rem(16);
        color: var(--color-accent-light);
        opacity: 0.78;

        @include mobile {
            padding-left: rem(16);
        }
    }

    &__arrow {
        height: rem(12);
    }
}

.toponymTopoformant {
    &__header {
        font-weight: 500;
        font-size: rem(16);
        opacity: .78;
        margin-top: rem(16);
    }
}

.toponymCoordinates {
    margin-top: rem(16);
    display: flex;
    gap: rem(12);

    &__iconWrapper {
        width: rem(40);
        height: rem(40);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-success);
        border-radius: 50%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(4);
    }

    &__label {
        padding-top: rem(6);
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__value {
        font-weight: 500;
        font-size: 20px;
        color: var(--color-accent-light);
        opacity: 0.78;
    }

    &__valueDelimeter {
        margin: 0 rem(4);
    }

    &__coordinates {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 13%;
    }

    &__coordinatesItem {
        display: flex;
        align-items: center;
        gap: rem(9);
        font-weight: 400;
        font-size: 18px;
        color: #364253;
        opacity: 0.78;
    }

    &__longitudeImg {
        transform: rotate(90deg);
    }
}

.toponymArchivedRecords {
    margin-top: rem(16);
    display: flex;
    flex-direction: column;
    gap: rem(16);
}

.toponymInformation {
    margin-top: rem(16);
    font-weight: 400;
    font-size: 16px;
    color: #364253;
    opacity: 0.78;
}

.toponymHistoricalBackground {
    margin-top: rem(16);

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(14) 0 rem(12);
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;

        @include mobile {
            flex-direction: column;
            gap: rem(8);
        }
    }

    &__details {
        max-width: 375px;
        width: 100%;

        
        & > summary {
            display: flex;
            gap: 10px; 
            cursor: pointer;
            align-items: center;
            font-weight: 400;
            font-size: rem(16);
            color: var(--color-dark);

            @include mobile {
                justify-content: center;
            }
        }

        &[open] > summary .toponymHistoricalBackground__chevron {
            transform: rotate(180deg);
            transition: transform 0.3s ease;
        }

        .toponymHistoricalBackground__chevron {
            transition: transform 0.3s ease;
        }
    }

    &__description {
        margin-top: rem(10);
        font-weight: 400;
        font-size: rem(16);
        color: var(--color-dark-20);
    }
}

.toponymSourseces {
    &__sourceLink {
        margin-top: rem(16);
        padding-left: 7px;
        display: flex;
        align-items: center;
        gap: rem(11);
        font-weight: 400;
        font-size: rem(16);
        color: var(--color-dark-20)

    }

    &__sourceFile {
        position: relative;
    }

    &__sourceFileFormat {
        position: absolute;
        left: -7px;
        bottom: 7px;
        font-weight: 700;
        font-size: rem(10);
        text-align: center;
        color: #fff;
        padding: 3px 2px;
        border-radius: 2px;
    }
}
