.etymology {
    display: flex;
    gap: 26px;
    margin-top: 24px;
}

.etymologySection {
    border: 1px solid #ececec;
    border-radius: 16px;
    padding: 24px;
    background-color: #fff;
}

.etymologyAside {
    // border: 1px solid #ececec;
    border-radius: 16px;
    height: 284px;
    width: 310px;
    // background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &__heading {
        font-size: 18px;
        color: #364253;
    }

    &__synonyms {
        width: 100%;
        border-radius: 16px;
        padding: 12px 16px;
        border: 1px solid #ececec;
        background-color: #fff;
    }

    &__list {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        margin: 24px 0 0 0;
    }

    &__item {
        font-size: 16px;
        color: #333;
        opacity: 0.78;
        padding: 10px 32px;
        border-radius: 100px;
        background: #deeaff;
    }
}

.etymologyArticle {
    margin-top: 8px;

    &__content {
        padding: 24px 0;
        border-bottom: 1px solid #e0e0e0;
    }

    &__heading {
        position: relative;
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        color: #000;
        padding-left: 14px;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            border-radius: 2px;
            background-color: #387ff5;
        }
    }

    &__subheading {
        position: relative;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        padding-left: 14px;
        color: #3a3a3a;
        margin: 0;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            border-radius: 2px;
            background-color: #00C274;
        }
    }

    &__desc {
        font-size: 18px;
        line-height: 160%;
        color: #364253;    
        margin-top: 1rem;
    }

    &__officialNaming {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    &__officalNamingLangContainer {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__officialNamingLang {
        border-radius: 8px;
        padding: 8px 16px;
        font-weight: 500;
        font-size: 16px;
        color: #000;
        opacity: 0.78;
        background-color: #efefef;
        margin: 0;        
    }

    &__officialNamingTitle {
        font-weight: 700;
        font-size: 16px;
        color: #000;
        opacity: 0.78;
    }

    &__etymologyContent {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__etymologyNaming {
        display: inline-block;
        border-radius: 100px;
        padding: 8px 32px;
        background-color: #deeaff;
        font-weight: 500;
        font-size: 16px;
        color: #000;
        margin: 1rem 0;
    }

    &__etymologyLangContent {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__etymologyLang {
        border-radius: 8px;
        padding: 8px 16px;
        background: #efefef;
        font-weight: 500;
        font-size: 16px;
        color: #000;
        opacity: 0.78;
    }

    &__etymologyMeanings {
        display: flex;
        align-items: center;
        margin: 0;
    }

    &__etymologyMeaning {
        text-transform: capitalize;
        margin: 0;

        &:not(:first-child) {
            padding-left: 3px;
        }
    }

    &__etymologyLink {
        font-weight: 500;
        font-size: 16px;
        color: #0094EB;
        opacity: 0.78;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__sourceItems {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }
    &__sourceItem {
        position: relative;
        display: flex;
        align-items: center;
        gap: 12px;
        padding-left: 6px;
    }

    &__sourceFormat {
        position: absolute;
        left: 0;
        bottom: 6px;
        border-radius: 2px;
        padding: 3px 2px;
        font-weight: 700;
        font-size: 10px;
        text-align: center;
        color: #fff;
        background-color: #0094EB;
    }

    &__sourceLink {
        font-weight: 400;
        font-size: 16px;
        color: #364253;
        opacity: 0.78;
    }

    &__audio {
        margin-top: 1rem;
        width: 100%;
        max-width: 572px;
    }
}