@use '../../../assets/styles/helpers/' as *;


.search {
  width: 100%;
  margin-top: rem(28);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(84);

  @include tablet {
    gap: rem(79);
  }

  @include mobile {
    gap: rem(51);
    margin-top: rem(12);
  }
}


.results {
  margin-top: rem(32);
  display: flex;
  flex-direction: column;
  gap: rem(32);
  padding-bottom: rem(100);

  @include tablet {
    gap: rem(24);
  }

  @include mobile {
    margin-top: rem(24);
    padding-bottom: rem(64);
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
      font-weight: 500;
      font-size: rem(16);
      line-height: rem(20);
      letter-spacing: -0.6%;
      color: #475569;
    }
  }

  &__cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(24);

    &_grid {
      @include tablet {
        justify-content: center;
      }
    }

    @include mobile {
      justify-content: center;
    }
  }
}

.formContainer {
  margin-top: rem(128);
  margin-bottom: rem(100);

  @include tablet {
    margin-top: rem(100);
    margin-bottom: rem(100);
  }

  @include mobile {
    margin-top: rem(64);
    margin-bottom: rem(64);
  }
}