@use '../../../../../assets/styles/helpers/' as *;

.toponym__label {
    display: inline-block;
    font-weight: 500;
    font-size: rem(16);
    color: var(--color-dark);
    background-color: var(--color-gray-90);
    border-radius: rem(8);
    padding: rem(8) rem(16);
    margin-right: rem(16);
}

.toponymEtymology {
    &__heading {
        display: inline-block;
        font-weight: 500;
        font-size: rem(16);
        border-radius: 100px;
        padding: rem(8) rem(32);
        background: var(--color-blue-20);
        color: var(--color-dark);
        opacity: 0.78;
        margin-top: rem(16);

        @include mobile {
            width: 100%;
            text-align: center;
        }
    }

    &__desc {
        font-weight: 400;
        font-size: rem(18);
        line-height: 160%;
        color: var(--color-dark-20);
        margin-top: rem(16);
    }

    &__dictionaries {
        margin-top: rem(16);
        display: flex;
        flex-direction: column;
        gap: rem(16);
    }

    &__dictionary {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        color: #000;
        opacity: 0.78;

        @include tablet {
            // flex-direction: column;
            // align-items: flex-start;
            // gap: rem(8);
        }

        @include mobile {
            flex-direction: column;
            align-items: flex-start;
            gap: rem(8);
            padding-bottom: rem(8);
            border-bottom: 1px solid var(--color-text-border);
        }
    }

    &__transcription {
        font-weight: 700;
        margin-right: rem(16);
        opacity: 1;

        @include mobile {
            padding-left: rem(16);
        }
    }

    &__translations {
        display: flex;
        align-items: center;
        gap: rem(16);
        margin-right: rem(16);

        @include mobile {
            flex-direction: column;
            align-items: flex-start;
            gap: rem(8);
            padding-left: rem(16);
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: rem(10);
        font-weight: 500;
        font-size: rem(16);
        color: var(--color-accent-light);
        opacity: 0.78;

        @include mobile {
            padding-left: rem(16);
        }
    }

    &__arrow {
        height: rem(12);
    }
}
