@use '../../assets/styles/helpers/' as *;

// .popularToponymsTop {}

.title {
  font-weight: 700;
  font-size: rem(36);
  line-height: rem(38);
  letter-spacing: -1.3%;
  margin-bottom: rem(20);

  @include tablet {
    font-size: rem(24);
  }
}

.descriptionBlock {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: rem(95);
  margin-bottom: rem(44);

  @include tablet {
    margin-bottom: rem(32);
  }

  @include mobile {
    margin-bottom: rem(20);
  }
}

.description {
  font-weight: 400;
  font-size: rem(18);
  line-height: 160%;
  letter-spacing: 0;
}

.button {
  color: #383838;
  border: rem(1) solid #C5C5C5;
  padding: rem(12) rem(30);
  border-radius: rem(50);
  white-space: nowrap;
  background: #ffffff;
  transition: background 0.2s ease;
  font-weight: rem(400);
  font-size: rem(16);

  &:hover {
    background: #F5F5F5;
  }

  &:active {
    transform: translateY(1px);
  }

  @include mobile {
    display: none;
  }
}

.cardsBlock {
  display: flex;
  flex-wrap: wrap;
  gap: rem(24);
  border-radius: rem(16);
  background: rgba(248, 249, 250, 1);

  @include tablet {
    border-radius: rem(16);
    gap: rem(20);
  }

  @include mobile {
    flex-wrap: nowrap;
    gap: rem(16);
    border-radius: rem(12);
    overflow-x: auto;
    padding-bottom: rem(24);
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

.cardsBlock::-webkit-scrollbar {
  display: none;
}

.buttonBlock {
  display: flex;
  justify-content: center;
}

.buttonDown {
  display: none;

  @include mobile {
    display: block;
  }
}

.popularToponymsBottom {
  background: rgba(0, 123, 255, 1);
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: rem(52);
  border-radius: rem(24);
  padding: rem(100) rem(64);

  @include tablet {
    padding: rem(48);
    row-gap: rem(32);
    column-gap: rem(104);
  }

  @include mobile {
    gap: rem(24);
    padding: rem(24) rem(20);
  }
}

.list {
  width: rem(236);
  height: rem(102);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(16);

  @include tablet {
    width: rem(113);
    height: rem(86);
    gap: rem(0);
  }

  @include mobile {
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    height: rem(36);
    column-gap: rem(24);
  }
}

.elOne {
  font-size: rem(48);
  font-weight: 500;
  line-height: rem(60);
  letter-spacing: -3%;
  color: #fff;
  white-space: nowrap;

  @include tablet {
    font-size: rem(32);
  }

  @include mobile {
    font-size: rem(28);
    line-height: 100%;
  }
}

.elTwo {
  font-size: rem(18);
  font-weight: 400;
  line-height: rem(26);
  letter-spacing: -0.4%;
  color: #fff;
  white-space: nowrap;

  @include tablet {
    font-size: rem(18);
  }

  @include mobile {
    font-size: rem(18);

    &::after {
      content: ":";
      display: inline-block;
      margin-left: rem(4);
    }
  }
}