@use '../../../assets/styles/helpers/' as *;

.pageContainer {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    width: 100%;
    padding-bottom: rem(91);

    @include mobile {
        padding-bottom: rem(64);
    }
}

.mapWrapper {
    position: relative;
    width: 100%;
    height: rem(724);
    border-radius: rem(16);

    @include mobile {
        height: rem(488);
    }
}