@use '../../../assets/styles/helpers/' as *;

.mapWrapper {
    width: 100%;
    height: rem(724);
    border-radius: rem(16);
    margin-top: rem(24);

    @include mobile {
        height: rem(488);
        margin-top: rem(20);
    }
}