@use '../../../../assets/styles/helpers/' as *;

.toponymWrapper {
    display: flex;
    gap: rem(24);
    padding: rem(24) 0 rem(132);

    @include tablet {
        flex-direction: column;
        padding-bottom: rem(100);
    }

    @include mobile {
        gap: rem(16);
        padding: rem(59) 0 rem(64);
    }

}

.toponymArticle {
    max-width: rem(978);
    width: 100%;
    padding: rem(24);
    border-radius: 16px;
    border: 1px solid var(--color-wrapper-border);
    background-color: var(--color-light);

    &__section {
        background-color: var(--color-light);

        &:not(:first-of-type):not(:nth-of-type(2)) {
            border-top: 1px solid var(--color-text-border);
        }
    }

    @include tablet {
        padding: rem(16);
    }

    @include mobile {
        padding: rem(12);
    }

    &__audio {
        margin-top: rem(16);
        max-width: rem(572);
        width: 100%;
    }
}

.toponymMap {
    border-radius: rem(16);
    height: rem(363);
    overflow: visible;
    position: relative;
    transition: opacity 0.3s ease;

    &>div {
        height: 100%;
        width: 100%;
        border-radius: rem(16);
    }

    .leaflet-container {
        border-radius: rem(16);
        background-color: #d3ecfd;

        .leaflet-control-container {
            .leaflet-top {
                .leaflet-control {
                    border-radius: rem(8);
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                }
            }
        }

        .leaflet-overlay-pane {
            svg {
                pointer-events: auto;

                path {
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }
            }
        }
    }

    &[data-loading="true"] {
        opacity: 0.7;
    }

    @include mobile {
        height: rem(300);
    }
}

.toponymDesc {
    font-weight: 500;
    font-size: rem(16);
    line-height: 150%;
    color: var(--color-dark);
    margin-top: rem(16);
}

.toponym__label {
    display: inline-block;
    font-weight: 500;
    font-size: rem(16);
    color: var(--color-dark);
    background-color: var(--color-gray-90);
    border-radius: rem(8);
    padding: rem(8) rem(16);
    margin-right: rem(16);
}