@use '../../assets/styles/helpers/' as *;

.footer {
    padding: rem(80) rem(118) rem(40);
    background-color: var(--color-light);

    @include tablet {
        padding: rem(64) rem(24) rem(40);
    }

    @include mobile {
        padding: rem(32) rem(16);
    }

    &__head {
        display: flex;
        align-items: center;
        column-gap: rem(20);

        &__logo {
            display: flex;
            align-items: center;
            column-gap: rem(9);

            &:hover {
                text-decoration: none;
                color: currentColor;
            }

            @include mobile {
                column-gap: rem(7);
            }
        }

        &__img {
            width: rem(122);
            height: rem(26);

            @include tablet {
                width: rem(112);
                height: rem(24);
            }

            @include mobile {
                width: rem(112);
                height: rem(24);
            }
        }
    }



    &__title {
        font-weight: 800;
        font-size: rem(32);
        color: var(--color-accent);
    }


    &__hr {
        width: 100%;
        height: 1px;
        color: #eceef4;
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: rem(60);

        @include mobile {
            row-gap: rem(32);
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        column-gap: rem(32);

        @include mobile {
            flex-direction: column;
            row-gap: rem(32);
        }
    }

    &__column {
        width: rem(380);

        @include tablet {
            width: rem(230);
            column-gap: rem(1);
        }

        &-main-link {
            font-weight: 700;
            font-size: rem(16);
            line-height: 120%;
            color: #343844;

            &:hover {
                color: currentColor;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: rem(8);
            margin-top: 1rem;
        }

        &-link {
            font-weight: 500;
            font-size: rem(16);
            line-height: 122%;
            text-align: center;
            color: #4b5162;
            gap: rem(4);
        }
    }

    &__extra {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border-top: 1px solid #d2d5e2;
        margin-top: rem(100);
        padding-block: rem(20);
        row-gap: rem(15);

        @include tablet {
            margin-top: rem(112);
        }

        @include mobile {
            margin-top: 2rem;
        }

        &__copyright {
            font-weight: 400;
            font-size: rem(14);
            line-height: 140%;
            color: #626981;
        }
    }
}