@use '../../../../assets/styles/helpers/' as *;

.formContainer {
  margin-bottom: rem(100);

  @include mobile {
    margin-bottom: rem(64);
  }
}

.blogWrapper {
  display: flex;
  gap: rem(24);

  @include tablet {
    flex-direction: column;
    gap: 0;
  }
}

.blogPost {
  margin: rem(40) 0 rem(100);
  padding: rem(24);
  max-width: rem(978);
  border: 1px solid var(--color-wrapper-border);
  border-radius: rem(16);
  background-color: var(--color-light);

  &__title {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -0.03em;
    color: #1d1f1e;
  }

  &__image {
    height: rem(532);
    object-fit: cover;
    border-radius: rem(24);
  }

  &__content {
    margin-top: rem(64);

    @include tablet {
      margin-top: rem(32);
    }
  }

  @include tablet {
    margin-top: rem(16);
  }

  @include mobile {
    margin-top: rem(4);
    margin-bottom: rem(64);
  }
}