@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');

.htmlContent {
    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 144%;
        letter-spacing: 0em;
        color: #1d1f1e;
        font-family: "Figtree", sans-serif;
    }

    ul,
    ol,
    li {
        font-family: "Figtree", sans-serif;
        margin: 16px 0;
        padding-left: 20px;

        li {
            font-size: 18px;
            line-height: 144%;
            color: #1d1f1e;
            margin-bottom: 8px;
            padding-left: 0;
        }
    }


    ol {
        list-style-type: decimal;

        li {
            list-style-type: decimal;
        }
    }
}