@use '../../assets/styles/helpers' as *;


.formBlock {
  position: relative;
  background-color: rgba(0, 123, 255, 1);
  padding: rem(110) rem(64);
  border-radius: rem(24);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    padding: rem(84) rem(44);
    flex-direction: column;
    gap: rem(44);
    align-items: flex-start;
  }

  @include mobile {
    padding: rem(32) rem(24);
    gap: rem(29);

  }
}

.form__bg {
  padding-left: rem(317);
  position: absolute;
  right: rem(0);
  top: rem(0);
  background: url('../../assets/images/fromBg.png') no-repeat right;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;

  @include tablet {
    background: url('../../assets/images/formBg2.png') no-repeat right;
  }

  @include mobile {
    background: url('../../assets/images/formBg3.png') no-repeat right;
  }
}

.contentLeft {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  max-width: rem(568);

  @include tablet {
    //
  }

  @include mobile {
    gap: rem(16);
  }
}

.title {
  font-size: rem(36);
  font-weight: 800;
  line-height: rem(38);
  letter-spacing: -1.3%;
  color: #fff;

  @include mobile {
    font-size: rem(24);
  }
}

.description {
  font-size: rem(18);
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  color: #fff;
}
