@use '../../assets/styles/helpers/' as *;

.hero {
    position: relative;
    padding-top: rem(56);
    padding-bottom: rem(24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: rem(16);
    overflow: visible;

    @include tablet {
        padding-top: rem(64);
    }

    @include mobile {
        padding-top: rem(56);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        width: 100vw;

        height: rem(861);
        background: var(--color-background-blue);
        pointer-events: none;
        z-index: 0;

        @include tablet {
            height: rem(700);
        }

        @include mobile {
            height: rem(544);
        }
    }



    &__bg {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: rem(56);
        width: rem(1301);
        height: rem(637);
        background: url('../../assets/images/hero-kg-map.png') no-repeat center/contain;
        z-index: 1;
        pointer-events: none;
        max-width: calc(100vw - rem(20));

        @include tablet {
            top: rem(64);
            width: rem(735);
            height: rem(360);
            max-width: calc(100vw - rem(32));
        }

        @include mobile {
            top: rem(56);
            width: rem(355);
            height: rem(174);
            max-width: calc(100vw - rem(20));
        }
    }

    &>*:not(.hero__bg) {
        position: relative;
        z-index: 1;
    }

    &__heading {
        font-weight: 700;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        text-align: center;
        color: var(--color-dark);
        max-width: rem(1063);
        padding-top: rem(108);

        @include fluid-text(48, 24);

        @include tablet {
            max-width: rem(700);
            padding-top: rem(60);
        }

        @include mobile {
            letter-spacing: 0.02em;
            max-width: rem(343);
            padding-top: rem(28);
        }
    }

    &__desc {
        letter-spacing: 0.03em;
        color: var(--color-dark);
        max-width: rem(800);
        @include fluid-text(20, 16);

        @include mobile {
            max-width: rem(320);
        }
    }

    &__search {
        width: 100%;
        margin-top: rem(28);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(84);

        @include tablet {
            gap: rem(79);
        }

        @include mobile {
            gap: rem(51);
            margin-top: rem(12);
        }
    }

}

.popular {
    margin-top: rem(128);
    background-color: #F8F9FA;


    @include tablet {
        margin-top: rem(100);
    }

    @include mobile {
        margin-top: rem(64);
    }
}

.mapContainer {
    margin-top: rem(100);

    @include tablet {
        // 
    }

    @include mobile {
        margin-top: rem(64);
    }
}

.title {
    font-weight: 700;
    font-size: rem(36);
    line-height: rem(38);
    letter-spacing: -1.3%;
    margin-bottom: rem(20);

    @include tablet {
        font-size: rem(24);
    }
}

.descriptionBlock {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: rem(95);
    margin-bottom: rem(58);

    @include tablet {
        margin-bottom: rem(42);
    }

    @include mobile {
        margin-bottom: rem(32);
    }
}

.description {
    font-weight: 400;
    font-size: rem(18);
    line-height: 160%;
    letter-spacing: 0;
}

.button {
    color: #383838;
    border: rem(1) solid #C5C5C5;
    padding: rem(12) rem(30);
    border-radius: rem(50);
    white-space: nowrap;
    background: #ffffff;
    transition: background 0.2s ease;
    font-weight: 400;
    font-size: rem(16);

    &:hover {
        background: #F5F5F5;
    }

    &:active {
        transform: translateY(1px);
    }

    @include mobile {
        display: none;
    }
}

.mapWrapper {
    position: relative;
    width: 100%;
    height: rem(724);
    border-radius: rem(16);

    @include tablet {
        //
    }

    @include mobile {
        height: rem(488);
    }
}

.buttonBlock {
    display: flex;
    justify-content: center;
    margin-top: rem(24);
}

.buttonDown {
    display: none;

    @include mobile {
        display: block;
    }
}

.blogContainer {
    margin-top: rem(100);

    @include tablet {
        margin-top: rem(90);
    }

    @include mobile {
        margin-top: rem(64);
    }
}

.formContainer {
    margin-top: rem(200);
    margin-bottom: rem(100);

    @include tablet {
        margin-top: rem(100);
        margin-bottom: rem(100);
    }

    @include mobile {
        margin-top: rem(84);
        margin-bottom: rem(64);
    }
}