@use '../../assets/styles/helpers/' as *;

.hero {
    height: 87vh;
    background-color: var(--color-background-blue);
    padding: rem(56) rem(70) 0;

    @include tablet {
        height: 67vh;
        padding: 4rem 1rem 0;
    }

    @include mobile {
        padding: rem(56) rem(10) 0;
    }

    &__bg {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        text-align: center;
        height: 100%;
        width: 100%;
        max-width: 100%;
        background: url('../../assets/images/hero-kg-map.png') no-repeat center/contain;    

        @include mobile {
            height: 60%;
        }
    }   

    &__heading {
        font-weight: 700;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        text-align: center;
        color: var(--color-dark);
        max-width: rem(1063);

        @include fluid-text(48, 24);

        @include tablet {
            max-width: 80%;
        }

        @include mobile {
            letter-spacing: 0.02em;
            max-width: 70%;
        }
    }

    &__desc {
        letter-spacing: 0.03em;
        color: var(--color-dark);
    
        @include fluid-text(20, 16);
    }

}

.mapWrapper {
    margin-top: rem(24);
    position: relative;
    width: 100%;
    height: rem(724);
    border-radius: rem(16);

    @include mobile {
        height: rem(488);
    }
}