@use '../../../../assets/styles/helpers/' as *;

.toponymWrapper {
    display: flex;
    gap: rem(24);
    padding: rem(32) 0 rem(100);
    width: 100%;

    @include tablet {
        flex-direction: column-reverse;
        padding: rem(16) 0 rem(90);
    }

    @include mobile {
        gap: rem(16);
        padding: rem(24) 0 rem(64);
    }

}

.toponymArticle {
    width: 100%;
}

.mapWrapper {
    position: relative;
    width: 100%;
    height: rem(724);
    border-radius: rem(16);

    @include mobile {
        height: rem(488);
    }
}

.toponymAside {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    max-width: rem(310);
    width: 100%;

    @include tablet {
        max-width: 100%;
    }

    &__section {
        width: 100%;
        border-radius: 16px;
        border: 1px solid var(--color-wrapper-border);
        padding: rem(24);
        background-color: var(--color-light);

        @include tablet {
            padding: rem(16);
        }

        @include mobile {
            padding: rem(12);
        }
    }
}

.backButton {
    display: flex;
    align-items: center;
    gap: rem(4);

    &:hover {
        color: #4B5162;
    }
}

.backText {
    font-size: rem(14);
    color: #4B5162;
    font-weight: 400;
    line-height: rem(24);
    letter-spacing: 0.5px;
}

.dictionary {
    color: #3A3A3A;
    font-size: rem(16);
    font-weight: 500;
    line-height: rem(24);
    letter-spacing: 0;
}

.list {
    max-height: rem(603.5);
    padding: 0;
    margin: 0;
    overflow-y: auto;
    list-style: none;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: rem(12);

    @include tablet {
        display: flex;
        flex-direction: row;
        gap: rem(8);
        overflow-x: auto;
        overflow-y: hidden;
        box-shadow: none;
        padding: rem(5);
    }
}

.itemCard {
    background: #ffffff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: rem(12);
    padding: rem(20);
    width: rem(310);
    min-width: rem(310);
    height: rem(150);

    @include tablet {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}

.itemCard+.itemCard {
    margin-top: rem(8);

    @include tablet {
        margin: 0;
    }
}

.popupTitle {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.03em;
    margin-bottom: rem(4);
}

.popupRegion {
    font-weight: 400;
    font-size: rem(14);
    color: #666;
    margin-bottom: rem(4);
}

.popupDescription {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #333;

    @include line-clamp(2);

    @include mobile {
        max-width: rem(180);
    }

}