@use '../../assets/styles/helpers/' as *;

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 2000;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: rem(16);
}

.modal {
  background: #ffffff;
  border-radius: rem(16);
  padding: rem(24) rem(28);
  max-width: rem(360);
  width: 100%;

  box-shadow: 0 rem(10) rem(30) rgba(0, 0, 0, 0.25);
}

.modalTitle {
  margin: 0 0 rem(12);
  font-size: rem(18);
  font-weight: 600;
}

.modalText {
  margin: 0 0 rem(20);
  font-size: rem(14);
  line-height: 1.5;
  opacity: 0.8;
}

.modalButton {
  border: none;
  border-radius: rem(999);
  padding: rem(10) rem(20);
  font-size: rem(14);
  font-weight: 500;
  background-color: #0094EB;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background-color: rgb(34, 102, 212);
  }
}