@use '../../assets/styles/helpers/' as *;

.leafletPopupContentWrapper {
    min-width: 310px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 24px -4px rgba(24, 39, 75, 0.08), 0 6px 12px -6px rgba(24, 39, 75, 0.12);
    background: #fff;
}

.leafletContainer a.leafletPopupCloseButton {
    top: 5px;
    right: 5px;
}

.leafletPopupContent {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.popupTitle {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.03em;
}

.popupRegion {
    font-weight: 400;
    font-size: 14px;
    color: #666;
    margin-bottom: 4px;
}

.popupDescription {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #333;
    margin: 8px 0;
}

.popupActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.popupMatching {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #7e7e7e;
}

.popupLink {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.04em;
    color: #0094EB;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
    
    svg {
        transition: transform 0.2s ease;
    }
    
    &:hover svg {
        transform: translateX(2px);
    }
}