@use 'helpers' as *;

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);

    @include tablet {
        max-width: 100%;
        padding-inline: rem(24)
    }

    @include mobile {
        padding-inline: rem(16)
    }
}

.visually-hidden {
    @include visually-hidden;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}