@use 'helpers' as *;

:root {

    // COLOR
    --color-light: #fff;

    --color-dark: #000;
    --color-dark-10: #212529;
    --color-dark-15: #383838;
    --color-dark-20: #364253;
    --color-dark-40: #333;

    --color-gray-50: #4e4e4e;
    --color-gray-60: #646464;
    --color-gray-70: #7e7e7e;
    --color-gray-80: #f5f5f5;
    --color-gray-90: #efefef;

    --color-dark-gray-10: #3a3a3a; 

    --color-blue: #7b95b7;
    --color-blue-10: #486284;
    --color-blue-20: #deeaff;

    --color-accent: #007bff;
    --color-accent-light: #0094eb;


    --color-success: #00c274;

    --color-dark-blessed: #343844;

    --color-background: #f8f9fa;
    --color-background-blue: #cce9fb;
    --color-background-overlay: rgba(0, 0, 0, 0.5);

    --color-text-border: #eceef4;
    --color-wrapper-border: #ececec;

    --color-map-bg: #d3ecfd;

    // FONT-FAMILY
    --font-onest: 'Onest', sans-serif;

    // ANIMATIONS
    --transition-duration: 0.2s;

    // CONTAINER
    --container-width: #{rem(1312)};
    --container-padding-x: #{rem(32)};


    --100vw: calc(100vw - var(--scrollbar-width));

    @include tablet {
        --container-padding-x: #{rem(24)};
    }

    @include mobile {
        --container-padding-x: #{rem(16)};
    }
}