@use '../../assets/styles/helpers/' as *;

.horizontalFilters {
  margin-top: rem(24);
  padding: rem(24);
  border: 1px solid #ececec;
  border-radius: rem(16);
  background-color: var(--color-light);

  @include mobile {
    padding: rem(20) rem(16) rem(24);
  }
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: rem(24);
  border-bottom: 1px solid #dbdbdb;
  ;
}

.topRowLeft {
  display: flex;
  align-items: center;
  gap: rem(6);
  font-weight: 500;
  font-size: rem(18);
}

.filterCount {
  opacity: 0.5;
}

.topRowRight {
  display: flex;
}

.toggleButton {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  // gap: rem(6);
  font-weight: 500;
  font-size: rem(16);
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #3b3c3d;
  padding: 0;
  cursor: pointer;
  position: relative;

  &:hover {
    color: var(--color-accent-light);
  }

}

.filterAction {
  width: auto;
  padding-right: rem(12);
  padding-left: rem(6);
}

.settingsAction {
  width: auto;
  padding-left: rem(12);
  padding-right: rem(5);
  border-left: 1px solid #ececec;
  ;
}

.settingsButton {
  position: relative;

  &.active {
    background: rgba(var(--color-accent-light-rgb), 0.1);
    border-radius: rem(4);
  }
}

.filtersDesktop {
  @include tablet {
    display: none;
  }
}

.filtersTablet {
  @include mobile {
    display: none;
  }
}

.settingsDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: rem(8);
  background: white;
  border: 1px solid #e9ecef;
  border-radius: rem(12);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  min-width: rem(377);
  padding: rem(16);

  @include mobile {
    min-width: rem(320);
  }
}

.dropdownHeader {
  display: flex;
  justify-content: flex-start;
  margin-bottom: rem(8);

  & span {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #71717a;
  }
}

.dropdownContent {

  .filtersList {
    max-height: rem(300);
    overflow-y: auto;

    & .filterOption {
      display: flex;
      align-items: center;
      gap: rem(12);
      padding: rem(10) rem(4);
      cursor: pointer;
      border-radius: rem(4);
      transition: all 0.2s ease;

      &:hover {
        background: #f8f9fa;
      }

      & .filterCheckbox {
        margin: 0;
        accent-color: var(--color-accent-light);
        width: rem(18);
        height: rem(18);
        cursor: pointer;
        transition: transform 0.1s ease;

        &:checked {
          transform: scale(1.1);
        }
      }

      & .filterLabel {
        font-weight: 400;
        font-size: rem(14);
        line-height: 143%;
        letter-spacing: 0.01em;
        color: #333;
        user-select: none;
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
          color: var(--color-accent-light);
        }
      }
    }
  }
}

.filtersRow {
  padding: rem(24) 0;
  border-bottom: 1px solid #dbdbdb;
}

.filtersGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: rem(20);
  column-gap: rem(24);

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.leftActions {
  padding-top: rem(24);
  display: flex;
  justify-content: flex-end;
  gap: rem(8);
}

.actionButtons {
  border: none;
  border-radius: 100px;
  padding: 8px 12px;
  min-width: 150px;
  height: 44px;
  background: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: var(--color-light);
}

.applyButton {
  background: var(--color-accent-light);

  &:hover {
    background: #0063cd;
  }
}

.clearButton {
  color: #9d9d9d;

  &:hover {
    color: var(--color-light);
    background: #FF0000;
  }
}

.alphabetRow {
  display: flex;
  justify-content: space-between;
  padding-top: rem(24);
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding-bottom: rem(8);
  
  &::-webkit-scrollbar {
    display: none;
  }
  
  scrollbar-width: none;
}

.alphabetButton {
  border: none;
  background: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 80%;
  text-align: center;
  color: #333;
  width: rem(38);
  height: rem(38);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  scroll-snap-align: center;
  transition: all 0.2s ease;

  &:hover {
    background: var(--color-accent-light);
    color: var(--color-light);
  }

  &.active {
    background: var(--color-accent-light);
    color: var(--color-light);
    font-weight: 600;

    &:hover {
      background: #0063cd;
      transform: scale(1.05);
    }
  }
}

.selectedFilters {
  display: flex;
  flex-wrap: wrap;
  gap: rem(12);
  padding: rem(20) 0;
  border-bottom: 1px solid #dbdbdb;
}

.filterChip {
  border: 1px solid var(--color-accent-light);
  border-radius: 100px;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  opacity: 0.78;
  display: flex;
  align-items: center;
  gap: rem(12);

  & button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    height: rem(24);
  }
}